@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

.login-heading {
   position: absolute;
   top: 15%;
   left: 35%;
   text-align: center;
   font-family: 'Alkatra', cursive;
   color: #fff;
}
.login-heading span{
   color:#04dbb7 ;
}
.login-container{
   position: absolute;
   top: 28%;
   left: 27%;
}
 .pass {
   padding:15px 150px;
   border-radius: 5px;
}
.login-btn{
padding:15px 120px ;
}

