@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

 .App{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), #04dbb7);
  background-repeat: no-repeat;
  width: 100vw;
  height: 120vh;
  overflow-x: hidden;
  overflow-y: hidden; 
}  
.food-list{
  display:flex;
  gap: 80px;
  margin: 20px;
  padding: 30px;
  
}
.checkout-button button{
  position: absolute;
  left: 42%;
  top: 70%;
  margin: 10px;
  padding: 15px 55px;
  border-radius: 10px;
  background-color: #04DBB7;

}
.checkout-button button:hover{
  background-color:#96e2d6; 
  cursor: pointer;
}
.food-card button {
 padding:10px;
 border-radius: 10px 27px;
}
.food-card img{
  height:200px;
  width: 250px;
  border-radius: 10px;

}
.food-card button{
  background-color: #96e2d6;
  
}
.food-card button:hover{
  background-color:#04DBB7;
  cursor: pointer;
}
.food-paisa{
  float: right;
  font-size: 1.1rem;
}






















